# Xcode build output
build/
DerivedData/

# User-specific Xcode settings
xcuserdata/
*.xcuserstate

# Xcode workspace state
*.xccheckout
*.moved-aside
*.xcscmblueprint
*.xcuserdatad

# Swift Package Manager
.build/
.swiftpm/xcode/package.xcworkspace/xcuserdata/
Package.resolved

# Archives & IPA
*.ipa
*.dSYM.zip
*.dSYM

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# OS
.DS_Store
Thumbs.db

# IDE / editors
.idea/
*.swp
*.swo
